body{
	background-color: #1F3148;
    font-family: "Montserrat";
    color: white;
}

textarea {
    min-height: 400px;
}

hr{
	border: 2px solid white;
	border-radius: 2px;
}

a{
	text-decoration: none;
}

.navButton{
	border: 2px solid deepskyblue;
	border-radius: 8px;
	color: deepskyblue;
	background-color: rgba(255,255,255,0);
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
}
.navButton:hover{
	background-color: deepskyblue;
	color: white;
}
.navButton:focus{
	background-color: white;
	color: deepskyblue;
	outline: none;
	border: 2px solid white;
}

.inboxElement{
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: deepskyblue;
	color: white;
}

.inboxElement:hover{
  	background-color: white;
  	cursor: pointer;
  	color: deepskyblue;
}

.alreadyRead{
	background-color: #6697B2;
	border-width: 0px;
	color: white;
}

.inboxElementLeftSide{
	font-size: 20px;
}

.inboxElementRightSide{
	margin-left: auto;
	margin-right: 0px;
	font-size: 20px;
}

.openedMail{
	font-family: "Crimson Text";
	font-size: 25px;
	margin-bottom: 100px;
}

.archiveButton{
	background-color: white;
	font-family: 'Montserrat';
	margin-top: 10px;
	margin-right: 10px;
	width: 100px;
	height: 35px;
	border-radius:5px;
	font-size: 18px;
	border: none;
}
.archiveButton:hover{
  	background-color: #5295B2;
  	cursor: pointer;
  	color: white;
}
.archiveButton:focus{
  	background-color: white;
  	cursor: pointer;
  	color: black;
  	padding: 3px;
  	outline: none;
}
.archivedButton{
 width: 150px;
}
.archivedButton:focus{
  	background-color: #b6ccd8;
  }
  
.reply:hover{
  	background-color: #5ACDFF;
  	cursor: pointer;
  	color: white;
}

.formerMessage
{
	border: 2px solid white;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
}

#logout{
	color: deepskyblue;
	float: right;
}
#logout:hover{
	color: white;
}